@media (max-width: 1025px) {
  .header__row{
    padding: 0 20px;
  }
  .me__row{
    padding: 0 65px;
  }
  .me:before, .project:before , .project:after , .aboutMe:after, .contactMe:before, .aboutMe:before{
    display: none;
  }
  .me__quoteBlock{
    font-size: 20px;
  }
}

@media (max-width: 769px) {
  .header__row {
    padding: 0 50px;
  }
  .me__title{
    font-size: 26px;
  }
}