.netTitle{
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 25px;
  &__span{
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #C778DD;
  }
}